<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="http://tneil.github.com/css/github.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
		
			alert(document.location);
		
		</script>
	</head>
	<body>
		<div class="header">
			<div class="logo" onclick="document.location='http://tneil.github.com/'">&nbsp;</div>
			<div class="github-logo" onclick="document.location='http://.github.com/blackberry'">&nbsp;</div>
		</div>
		<div class="center">
			<table class="content">
				<tr>
					<td valign="top" class="content-column">
						<div>

							  {{ content }}
							  
							 
						</div>
					</td>
					<td valign="top" class="menu-column">
						<div class="menu">
							<div class="menu-header">Contributing</div>
							<div class="menu-item"><a href="http://tneil.github.com/howToContribute.html">How To Contribute</a></div>
							<div class="menu-item"><a href="http://tneil.github.com/approvedSignatories.html">Approved Signatories</a></div>
							<!-- Projects -->
							<div class="menu-header">Projects</div>
							<div class="menu-item"><a href="http://tneil.github.com/webworks/index.html">BlackBerry WebWorks</a></div>
							<div class="menu-item">Ripple</div>
						</div>
					</td>
				<tr>
			</table>
			<div class="footer">
				<div style="border-style: none none dashed none; border-width: 1px; border-color: Silver;margin-top: 40px;"></div>
				<p style="font-size: 8.5pt;color:Gray;text-decoration:italics;text-align: center;">Copyright 1999-2011 Research In Motion Limited. 295 Phillip Street, Waterloo, Ontario, Canada, N2L 3W8. All Rights Reserved.</p>
			</div>
		</div>
		
	</body>
</html>